@if (viewMode() === 'albums') {
  <div class="grid grid--albums">
    @for (album of albums(); track album.id) {
      <button
        class="grid__item grid__album"
        [class.grid__item--selected]="selectedId() === album.id"
        (click)="onAlbumClick(album)"
        (dblclick)="onAlbumDblClick(album)"
      >
        <div class="grid__album-thumbnail">
          <img [src]="album.coverUrl" [alt]="album.name" loading="lazy" />
        </div>
        <span class="grid__label">{{ album.name }}</span>
        <span class="grid__sublabel">{{ album.photoCount }} foto</span>
      </button>
    }
  </div>
}

@if (viewMode() === 'photos') {
  <div class="grid grid--photos">
    @for (photo of photos(); track photo.id; let i = $index) {
      <button
        class="grid__item grid__photo"
        [class.grid__item--selected]="selectedId() === photo.id"
        (click)="onPhotoClick(photo, i)"
        (dblclick)="onPhotoDblClick(photo)"
      >
        <div class="grid__photo-thumbnail">
          <img [src]="photo.thumbnailUrl" [alt]="photo.name" loading="lazy" />
        </div>
        <span class="grid__label">{{ photo.name }}</span>
      </button>
    }
  </div>
}
